#blog-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 30px;
}

#blog-list ul li {
  border: 2px solid black;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: "economica", Arial, Helvetica, sans-serif;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  background-color: indianred;
}

/*______________filtered blog __________________*/
#filtered-blog {
  border-radius: 10px;
  margin: 20px 20px 0 20px;
  padding: 10px;
  color: #fff;
}
#filtered-blog h3 {
  font-size: 28px;
  color: indianred;
  text-align: center;
  margin-bottom: 15px;
  font-family: "economica", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#filtered-blog p {
  text-align: justify;
  font-size: 17px;
  font-family: "Rokkitt", Arial, Helvetica, sans-serif;
}

.image-blog {
  width: 100%;
}
.image-blog img {
  width: 100%;
  filter:sepia(1);
  border-radius: 5px;
}