#blog-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

#blog-list ul li {
    border : 2px solid black;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    list-style-type: none;

}

#blog-list ul li span{
    text-align: center;
    text-justify: auto;
}

/*______________filtered blog __________________*/
#filtered-blog{
    border: 2px solid black;
    border-radius : 10px;
    margin: 20px;
}
