#blog-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;    
}

#blog-list ul li {
    border : 2px solid black;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Rochester";
    list-style-type: none;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
    background-color: gold;
}


/*______________filtered blog __________________*/
#filtered-blog{
    border: 1px solid;
    border-radius : 10px;
    margin: 20px;
    padding: 10px;
}
#filtered-blog h3 {
    font-size: 20px;
}
