.hand {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 25.6%;
  width: 1%;
  height: 15vh;
  background: linear-gradient(black, lightgray);
  transform-origin: bottom;
}

@import url("https://fonts.googleapis.com/css2?family=Rochester&family=Rokkitt&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: "Rokkit";
}

h1 {
  font-size: 2.5em;
  font-family: "Rochester";
  text-align: center;
  margin-bottom: 5px;
}

main.Main,
.login-container {
  background-image: url(https://cdn.hipwallpaper.com/i/36/71/py05XD.jpg);
  background-size: cover;
}

main {
    padding-top: 80px;
}
/* Cycle */
.main-cycle {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.wrapper-cycle {
  margin-top: -25px;
}

.flag {
  transform: scaleX(-1);
  padding-right: 21px;
  margin-bottom: -7px;
}

/* general */
li {
  list-style: none;
  margin: 30px;
}
a {
  text-decoration: none;
}
/* header*/

.header-layout {
  background-color: black;
  position: absolute;
  width: 100%;
  top: 0;
}

/* burger */
.display-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: black;
}

.display-header h1 {
    color: white;
    text-align:center;
    width: 70vw;
}

#burger {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    padding: 10px 0 0 10px;
    align-self: center;
    z-index: 1;
  }
#burger div {
    width: 50px;
    height: 5px;
    margin: 0 0 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    background: white;
  }

  #menu {
      position: absolute;
      z-index: 1;
      background-color: black;
      top:0;
      width: 100vw;
      height: 300px;
      box-shadow: 0 2px 20px gray;
  }

  .menu-list{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
  }
   
  .menu-list li a{
    font-size: 24px;
    color: white;
}


/* body */

#overlay {
  width: 100vw;
  height: 100%;
}

.background-baroque {
  width: 100vw;
}

/* optional class */
.hidden {
  display: none;
}

.overlay {
  background-color: #8b8d8c;
  opacity: 0.5;
}

/* LOGIN */
.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-container h1 {
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 4.5em;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 10px;
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 250px;
}

form input:last-child {
  border-radius: 10px;
  border: none;
  background: grey;
  color: white;
  width: 100px;
  margin-top: 30px;
}

.login-top {
  top: 0;
  position: absolute;
}

.login-bottom {
  bottom: 0;
  position: absolute;
}

.footer{
    display:flex;
    flex-direction: column;

}

.footer-text {
  text-align: center;
  padding: 1%;
  background: #000000;
  color: #ffffff;
  font-size: 24px;
}
