@import url("https://fonts.googleapis.com/css2?family=Rochester&family=Rokkitt&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: "Rokkit";
}

h1 {
  font-size: 2.5em;
  font-family: "Rochester";
  text-align: center;
  margin-bottom: 5px;
}

.main-cycle {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.flag {
  transform: scaleX(-1);
  padding-right: 21px;
  margin-bottom: -7px;
}

.login-container {
  /*background-image: url("./Fond_ecran.png");*/
  display: flex;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-container h1 {
  margin-bottom: 100px;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 10px;
  padding: 10px;
  border: none;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 10px;
}

form input:last-child {
  border-radius: 10px;
  border: none;
  background: grey;
  color: white;
  width: 100px;

.footer {
  text-align: center;
  padding: 1%;
  background: #000000;
  color: #ffffff;
}
